.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  user-select: none;
}

.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.empty {
  background: #ffffff;
  border: 2px solid #d3d6da;
}

.default {
  background: #ffffff;
  border: 2px solid #878a8c;
}

.present {
  background: #c9b548;
  border: 2px solid #878a8c;
}

.correct {
  background: #6aaa64;
  border: 2px solid #878a8c;
}

.absent {
  background: #787c7e;
  border: 2px solid #878a8c;
}

.tile[data-animation="pop"] {
  animation-name: PopIn;
  animation-duration: 100ms;
}

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.tile[data-animation="flip-out"] {
  animation-name: FlipOut;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
}

@keyframes FlipOut {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
