body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  height: 100%;
  background-color: #ffffff;
  padding: 0;
  overflow-y: hidden;
}

html {
  height: 100%;
}

.game {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}
